body {
  background-color: rgb(252, 242, 240);
}

img {
  width: 120px;
  border-radius: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__header {
  text-align: center;
  color: rgb(38, 38, 38);
  margin-block-end: 0em;
}

.content__subheader {
  font-size: small;
  margin-block: 0;
  margin-top: 5px;
}

.main {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-column__score {
  flex: 0 1 auto;
  min-height: 120px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 30px;
  font-weight: 500;
}

.left-column__names {
  flex: 1;
  font-size: smaller;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
}

.player-buttons .computer-buttons {
  flex: 1;
  display: flex;
  padding: 50px;
}

.player-buttons > *, .computer-buttons > * {
  padding: 0px;
  margin: 50px;
  border-radius: 50px;
}



.player-buttons__sign:hover {
  outline: 10px solid white;
}

.player-buttons__rock--color {
  border: 3px solid rgb(38, 38, 38);
}

.player-buttons__paper--color {
  border: 3px solid rgb(38, 38, 38);
}

.player-buttons__scissors--color {
  border: 3px solid rgb(38, 38, 38);
}

.computer-buttons__rock--color {
  border: 3px solid rgb(38, 38, 38);
}

.computer-buttons__paper--color {
  border: 3px solid rgb(38, 38, 38);
}

.computer-buttons__scissors--color {
  border: 3px solid rgb(38, 38, 38);
}

.result {
  padding: 10px;
  flex: 1 0 auto;
  text-align: center;
  min-height: 100px;
}

.result__round {
  margin-bottom: 20px;
  font-weight: bold;
}

.result__final-result {
  margin-top: 20px;
  font-weight: bold;
}

.right-column {
  overflow: hidden;
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
}

.content__reset-button {
  font-weight: lighter;
  background-color: rgb(252, 242, 240);
  border: 0px;
}

.right-column__scroll-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: smaller;
  text-align: center;
  font-weight: bolder;

  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
