body {
    background-color: rgb(252, 242, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
    color:rgb(38, 38, 38);
}

img {
    width: 120px;
    border-radius: 50px;

}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#buttonAndResultBox {
    display: flex;
    flex-direction: column;
}

.playerButtonsBox .computerButtonsBox {
    flex: 1;
    display: flex;
    padding: 50px;
}

.handButton, .computerHandButton {
    padding: 0px;
    margin: 50px;
    border: 0px;
    border-radius: 50px;
    border: 3px solid rgb(38, 38, 38);
    
}

.handButton:hover {
    outline: 10px solid white;

}

.resultBox {
    padding: 10px;
    flex: 1 0 auto;
    text-align: center;
    min-height: 100px;
}

#reset {

    font-weight: lighter;
    background-color: rgb(252, 242, 240);
    border: 0px;
}

#round {
    margin-bottom: 20px;
    font-weight: bold;
}

.container {
    display: flex;
}

.resultContainer {
    display: flex;
}

.scoreBox {
    
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
    font-weight:500;
    padding-right: 20px;
    padding-left: 12px;
}

span {
    font-size:smaller;
    margin-right: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-weight:bolder;
    margin-left: 20px;
}

